Harshita Jain    Eb31      E20CSE470

In [ ]:
from google.colab import files 
uploaded = files.upload()

Saving unclean_data.csv to unclean_data.csv

In [ ]:
import pandas as pd
My_Data=pd.read_csv('unclean_data.csv')
print(My_Data)

     Time          Date  Pulse_rate  Maxpulse  Calories
0    60.0  '2020/12/01'       110.0     130.0     409.1
1    45.0  '2020/12/04'       109.0     175.0       NaN
2    45.0  '2020/12/05'       117.0     148.0     406.0
3    60.0  '2020/12/06'       102.0     127.0     300.0
4     NaN  '2020/12/07'       110.0     136.0     374.0
5   450.0  '2020/12/08'       104.0     134.0     253.3
6    60.0  '2020/12/12'       100.0     120.0     250.7
7    60.0  '2020/12/12'       100.0     120.0     250.7
8    60.0  '2020/12/13'       106.0     128.0     345.3
9    60.0  '2020/12/14'       104.0       NaN     379.3
10   45.0  '2020/12/18'        90.0     112.0       NaN
11   60.0  '2020/12/19'       103.0     123.0     323.0
12   45.0  '2020/12/20'        97.0     125.0     243.0
13   60.0  '2020/12/21'       108.0     131.0     364.2
14   45.0           NaN       100.0     119.0     282.0
15   60.0  '2020/12/23'       130.0     101.0       NaN
16   45.0  '2020/12/24'         NaN     132.0     246.0
17   60.0      20201110       103.0     132.0       NaN
18   60.0  '2020/12/29'       100.0     132.0     280.0
19   60.0  '2020/12/30'       102.0     129.0     380.3
20   60.0  '2020/12/31'        92.0     115.0     243.0

Question : 2

In [ ]:
My_Data.head()

   Time          Date  Pulse_rate  Maxpulse  Calories
0  60.0  '2020/12/01'       110.0     130.0     409.1
1  45.0  '2020/12/04'       109.0     175.0       NaN
2  45.0  '2020/12/05'       117.0     148.0     406.0
3  60.0  '2020/12/06'       102.0     127.0     300.0
4   NaN  '2020/12/07'       110.0     136.0     374.0

In [ ]:
My_Data.tail()

    Time          Date  Pulse_rate  Maxpulse  Calories
16  45.0  '2020/12/24'         NaN     132.0     246.0
17  60.0      20201110       103.0     132.0       NaN
18  60.0  '2020/12/29'       100.0     132.0     280.0
19  60.0  '2020/12/30'       102.0     129.0     380.3
20  60.0  '2020/12/31'        92.0     115.0     243.0

In [ ]:
My_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Time        20 non-null     float64
 1   Date        20 non-null     object
 2   Pulse_rate  20 non-null     float64
 3   Maxpulse    20 non-null     float64
 4   Calories    17 non-null     float64
dtypes: float64(4), object(1)
memory usage: 968.0+ bytes

In [ ]:
My_Data.isnull()

     Time   Date  Pulse_rate  Maxpulse  Calories
0   False  False       False     False     False
1   False  False       False     False      True
2   False  False       False     False     False
3   False  False       False     False     False
4    True  False       False     False     False
5   False  False       False     False     False
6   False  False       False     False     False
7   False  False       False     False     False
8   False  False       False     False     False
9   False  False       False      True     False
10  False  False       False     False      True
11  False  False       False     False     False
12  False  False       False     False     False
13  False  False       False     False     False
14  False   True       False     False     False
15  False  False       False     False      True
16  False  False        True     False     False
17  False  False       False     False      True
18  False  False       False     False     False
19  False  False       False     False     False
20  False  False       False     False     False

In [ ]:
My_Data.isnull().sum()

Time          1
Date          1
Pulse_rate    1
Maxpulse      1
Calories      4
dtype: int64

In [ ]:
My_Data.dropna()

     Time          Date  Pulse_rate  Maxpulse  Calories
0    60.0  '2020/12/01'       110.0     130.0     409.1
2    45.0  '2020/12/05'       117.0     148.0     406.0
3    60.0  '2020/12/06'       102.0     127.0     300.0
5   450.0  '2020/12/08'       104.0     134.0     253.3
6    60.0  '2020/12/12'       100.0     120.0     250.7
7    60.0  '2020/12/12'       100.0     120.0     250.7
8    60.0  '2020/12/13'       106.0     128.0     345.3
11   60.0  '2020/12/19'       103.0     123.0     323.0
12   45.0  '2020/12/20'        97.0     125.0     243.0
13   60.0  '2020/12/21'       108.0     131.0     364.2
18   60.0  '2020/12/29'       100.0     132.0     280.0
19   60.0  '2020/12/30'       102.0     129.0     380.3
20   60.0  '2020/12/31'        92.0     115.0     243.0

In [ ]:
print(My_Data)
#original hasn't changed

     Time          Date  Pulse_rate  Maxpulse  Calories
0    60.0  '2020/12/01'       110.0     130.0     409.1
1    45.0  '2020/12/04'       109.0     175.0       NaN
2    45.0  '2020/12/05'       117.0     148.0     406.0
3    60.0  '2020/12/06'       102.0     127.0     300.0
4     NaN  '2020/12/07'       110.0     136.0     374.0
5   450.0  '2020/12/08'       104.0     134.0     253.3
6    60.0  '2020/12/12'       100.0     120.0     250.7
7    60.0  '2020/12/12'       100.0     120.0     250.7
8    60.0  '2020/12/13'       106.0     128.0     345.3
9    60.0  '2020/12/14'       104.0       NaN     379.3
10   45.0  '2020/12/18'        90.0     112.0       NaN
11   60.0  '2020/12/19'       103.0     123.0     323.0
12   45.0  '2020/12/20'        97.0     125.0     243.0
13   60.0  '2020/12/21'       108.0     131.0     364.2
14   45.0           NaN       100.0     119.0     282.0
15   60.0  '2020/12/23'       130.0     101.0       NaN
16   45.0  '2020/12/24'         NaN     132.0     246.0
17   60.0      20201110       103.0     132.0       NaN
18   60.0  '2020/12/29'       100.0     132.0     280.0
19   60.0  '2020/12/30'       102.0     129.0     380.3
20   60.0  '2020/12/31'        92.0     115.0     243.0

In [ ]:
My_Data.dropna()

     Time          Date  Pulse_rate  Maxpulse  Calories
0    60.0  '2020/12/01'       110.0     130.0     409.1
2    45.0  '2020/12/05'       117.0     148.0     406.0
3    60.0  '2020/12/06'       102.0     127.0     300.0
5   450.0  '2020/12/08'       104.0     134.0     253.3
6    60.0  '2020/12/12'       100.0     120.0     250.7
7    60.0  '2020/12/12'       100.0     120.0     250.7
8    60.0  '2020/12/13'       106.0     128.0     345.3
11   60.0  '2020/12/19'       103.0     123.0     323.0
12   45.0  '2020/12/20'        97.0     125.0     243.0
13   60.0  '2020/12/21'       108.0     131.0     364.2
18   60.0  '2020/12/29'       100.0     132.0     280.0
19   60.0  '2020/12/30'       102.0     129.0     380.3
20   60.0  '2020/12/31'        92.0     115.0     243.0

In [ ]:
print(My_Data)
#Original data has changed

     Time          Date  Pulse_rate  Maxpulse  Calories
0    60.0  '2020/12/01'       110.0     130.0     409.1
2    45.0  '2020/12/05'       117.0     148.0     406.0
3    60.0  '2020/12/06'       102.0     127.0     300.0
5   450.0  '2020/12/08'       104.0     134.0     253.3
6    60.0  '2020/12/12'       100.0     120.0     250.7
7    60.0  '2020/12/12'       100.0     120.0     250.7
8    60.0  '2020/12/13'       106.0     128.0     345.3
11   60.0  '2020/12/19'       103.0     123.0     323.0
12   45.0  '2020/12/20'        97.0     125.0     243.0
13   60.0  '2020/12/21'       108.0     131.0     364.2
18   60.0  '2020/12/29'       100.0     132.0     280.0
19   60.0  '2020/12/30'       102.0     129.0     380.3
20   60.0  '2020/12/31'        92.0     115.0     243.0

In [ ]:
pd.to_datetime(My_Data.Date)

0    2020-12-01
2    2020-12-05
3    2020-12-06
5    2020-12-08
6    2020-12-12
7    2020-12-12
8    2020-12-13
11   2020-12-19
12   2020-12-20
13   2020-12-21
18   2020-12-29
19   2020-12-30
20   2020-12-31
Name: Date, dtype: datetime64[ns]

In [23]:
My_Data.Time.clip(upper=120, inplace=True)
My_Data

     Time          Date  Pulse_rate  Maxpulse  Calories
0    60.0  '2020/12/01'       110.0     130.0     409.1
2    45.0  '2020/12/05'       117.0     148.0     406.0
3    60.0  '2020/12/06'       102.0     127.0     300.0
5   120.0  '2020/12/08'       104.0     134.0     253.3
6    60.0  '2020/12/12'       100.0     120.0     250.7
7    60.0  '2020/12/12'       100.0     120.0     250.7
8    60.0  '2020/12/13'       106.0     128.0     345.3
11   60.0  '2020/12/19'       103.0     123.0     323.0
12   45.0  '2020/12/20'        97.0     125.0     243.0
13   60.0  '2020/12/21'       108.0     131.0     364.2
18   60.0  '2020/12/29'       100.0     132.0     280.0
19   60.0  '2020/12/30'       102.0     129.0     380.3
20   60.0  '2020/12/31'        92.0     115.0     243.0

In [25]:
My_Data.duplicated().sum() 
#check for duplicates

1

In [26]:
My_Data.drop_duplicates()

     Time          Date  Pulse_rate  Maxpulse  Calories
0    60.0  '2020/12/01'       110.0     130.0     409.1
2    45.0  '2020/12/05'       117.0     148.0     406.0
3    60.0  '2020/12/06'       102.0     127.0     300.0
5   120.0  '2020/12/08'       104.0     134.0     253.3
6    60.0  '2020/12/12'       100.0     120.0     250.7
8    60.0  '2020/12/13'       106.0     128.0     345.3
11   60.0  '2020/12/19'       103.0     123.0     323.0
12   45.0  '2020/12/20'        97.0     125.0     243.0
13   60.0  '2020/12/21'       108.0     131.0     364.2
18   60.0  '2020/12/29'       100.0     132.0     280.0
19   60.0  '2020/12/30'       102.0     129.0     380.3
20   60.0  '2020/12/31'        92.0     115.0     243.0

In [27]:
My_Data.corr()

                Time  Pulse_rate  Maxpulse  Calories
Time        1.000000   -0.047457  0.061513 -0.279145
Pulse_rate -0.047457    1.000000  0.840550  0.816059
Maxpulse    0.061513    0.840550  1.000000  0.620313
Calories   -0.279145    0.816059  0.620313  1.000000

In [28]:
My_Data.describe()

             Time  Pulse_rate    Maxpulse    Calories
count   13.000000   13.000000   13.000000   13.000000
mean    62.307692  103.153846  127.846154  311.430769
std     18.213478    6.229582    8.153181   63.594344
min     45.000000   92.000000  115.000000  243.000000
25%     60.000000  100.000000  123.000000  250.700000
50%     60.000000  102.000000  128.000000  300.000000
75%     60.000000  106.000000  131.000000  364.200000
max    120.000000  117.000000  148.000000  409.100000