Harshita Jain ___ EB31 ___ E20CSE470

In [66]:
from google.colab import files 
uploaded = files.upload()

Saving diabetes.csv to diabetes (2).csv

In [67]:
import pandas as pd
import numpy as np
from typing import List

In [68]:
Data=pd.read_csv('diabetes.csv')
print(Data)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age  Outcome
0                       0.627   50        1
1                       0.351   31        0
2                       0.672   32        1
3                       0.167   21        0
4                       2.288   33        1
..                        ...  ...      ...
763                     0.171   63        0
764                     0.340   27        0
765                     0.245   30        0
766                     0.349   47        1
767                     0.315   23        0

[768 rows x 9 columns]

In [69]:
Data.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [70]:
Data.columns=[col.upper()for col in Data]
Data

,PREGNANCIES,GLUCOSE,BLOODPRESSURE,SKINTHICKNESS,INSULIN,BMI,DIABETESPEDIGREEFUNCTION,AGE,OUTCOME
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [71]:
Data.shape

(768, 9)

In [72]:
Data.isnull()

,PREGNANCIES,GLUCOSE,BLOODPRESSURE,SKINTHICKNESS,INSULIN,BMI,DIABETESPEDIGREEFUNCTION,AGE,OUTCOME
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
763,False,False,False,False,False,False,False,False,False
764,False,False,False,False,False,False,False,False,False
765,False,False,False,False,False,False,False,False,False
766,False,False,False,False,False,False,False,False,False
767,False,False,False,False,False,False,False,False,False

In [73]:
print(Data['GLUCOSE'].mean())

120.89453125

In [74]:
print(Data['GLUCOSE'].std())

31.97261819513622

In [75]:
print(Data['BMI'].median())

32.0

In [76]:
def med_target(var):
  temp=Data[Data[var].notnull()]
  temp=temp[[var,'OUTCOME']].groupby(['OUTCOME'])[[var]].median().reset_index()
  return temp

In [77]:
print(med_target('BMI'))

   OUTCOME    BMI
0        0  30.05
1        1  34.25

In [78]:
Data.loc[(Data['AGE']<=21), 'Age_Category'] = 'Young'
Data.loc[(Data['AGE']>21) & (Data['AGE']<50), 'Age_Category'] = 'Medium'
Data.loc[(Data['AGE']>50), 'Age_Category'] = 'Old'

In [79]:

Data

,PREGNANCIES,GLUCOSE,BLOODPRESSURE,SKINTHICKNESS,INSULIN,BMI,DIABETESPEDIGREEFUNCTION,AGE,OUTCOME,Age_Category
0,6,148,72,35,0,33.6,0.627,50,1,NaN
1,1,85,66,29,0,26.6,0.351,31,0,Medium
2,8,183,64,0,0,23.3,0.672,32,1,Medium
3,1,89,66,23,94,28.1,0.167,21,0,Young
4,0,137,40,35,168,43.1,2.288,33,1,Medium
...,...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0,Old
764,2,122,70,27,0,36.8,0.340,27,0,Medium
765,5,121,72,23,112,26.2,0.245,30,0,Medium
766,1,126,60,0,0,30.1,0.349,47,1,Medium
767,1,93,70,31,0,30.4,0.315,23,0,Medium

In [81]:
def replace_zero(df, columns:List[str]):
    for column in columns:
        Data[column] = Data[column].replace(0, np.NaN)
    return df
Data = replace_zero(Data,['BMI','GLUCOSE','BLOODPRESSURE','SKINTHICKNESS','INSULIN'])
Data['BLOODPRESSURE'].fillna(Data['BLOODPRESSURE'].mean(),inplace = True)
Data['SKINTHICKNESS'].fillna(Data['SKINTHICKNESS'].mean(),inplace = True)
Data['INSULIN'].fillna(Data['INSULIN'].mean(),inplace = True)
Data['GLUCOSE'].fillna(Data['GLUCOSE'].mean(),inplace = True)
Data

,PREGNANCIES,GLUCOSE,BLOODPRESSURE,SKINTHICKNESS,INSULIN,BMI,DIABETESPEDIGREEFUNCTION,AGE,OUTCOME,Age_Category
0,6,148.0,72.0,35.00000,155.548223,33.6,0.627,50,1,NaN
1,1,85.0,66.0,29.00000,155.548223,26.6,0.351,31,0,Medium
2,8,183.0,64.0,29.15342,155.548223,23.3,0.672,32,1,Medium
3,1,89.0,66.0,23.00000,94.000000,28.1,0.167,21,0,Young
4,0,137.0,40.0,35.00000,168.000000,43.1,2.288,33,1,Medium
...,...,...,...,...,...,...,...,...,...,...
763,10,101.0,76.0,48.00000,180.000000,32.9,0.171,63,0,Old
764,2,122.0,70.0,27.00000,155.548223,36.8,0.340,27,0,Medium
765,5,121.0,72.0,23.00000,112.000000,26.2,0.245,30,0,Medium
766,1,126.0,60.0,29.15342,155.548223,30.1,0.349,47,1,Medium
767,1,93.0,70.0,31.00000,155.548223,30.4,0.315,23,0,Medium